__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite
*.db
!learnflow.db
.DS_Store
.git/
.github/
.idea/
.vscode/
*.log
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.eggs/
*.egg
MEDIA/
STATICFILES/
